openapi: '3.0.0'
info:
  title: Teammates SmartTools API
  version: '0.1'
  description: API for agents to operate SaaS software with natural language
servers:
  - url: https://api.teammates/work
    description: Production API server
paths:
  /v1/assign:
    post:
      summary: Execute a new assignment
      description: Initiates a new assignment execution for a specified tool with given parameters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteAssignmentRequest'
      responses:
        '200':
          $ref: '#/components/responses/AssignmentEnqueued'
  /v1/assignment:
    get:
      summary: Get assignment result
      description: Retrieves the current status or result of an assignment
      parameters:
        - $ref: '#/components/parameters/AssignmentId'
      responses:
        '200':
          $ref: '#/components/responses/AssignmentResult'
components:
  schemas:
    ExecuteAssignmentRequest:
      type: object
      required:
        - tool
        - prompt
      properties:
        tool:
          type: string
          description: The tool to execute
          enum:
            - airtable
            - asana
            - dropbox
            - github
            - gmail
            - google_docs
            - google_drive
            - google_sheets
            - google_slides
            - hubspot
            - jira
            - microsoft_365_excel
            - microsoft_365_word
            - salesforce
            - shopify
            - slack
            - trello
            - zendesk
          example: google_sheets
        prompt:
          type: string
          description: A natural language description of the task to be performed
          example: Update issue with ID 4 to status OK
        data:
          type: object
          description: Additional data to be used in the assignment execution
          example:
            issue_id: 4
            new_status: OK
            priority: high
        webhook_url:
          type: string
          format: uri
          description: URL to receive status updates when the assignment is complete
          example: https://api.yourapp.com/webhooks/assignment-updates
    AssignmentEnqueuedResponse:
      type: object
      properties:
        assignment_id:
          type: string
          format: uuid
          description: Unique identifier for the assignment. Save this ID to retrieve the result later.
      required:
        - assignment_id
      example:
        assignment_id: 87fb989d-46dc-4a5c-af5d-de772f8e9ebc
    AssignmentResultResponse:
      type: object
      required:
        - status
        - duration
      properties:
        status:
          type: string
          enum:
            - complete
            - unstarted
            - in_progress
            - failed
            - waiting_for_others
            - canceled
            - clarification_required
          description: Current status of the assignment
        duration:
          type: integer
          description: Duration of the assignment execution in seconds
        result:
          type: string
          description: JSON string containing the result data (only present when status is complete)
          format: json
        details:
          type: object
          description: Additional details about the assignment execution
          example:
            steps_completed: 3
            last_action: Updated cell F3 with new value
            affected_items:
              - Sheet1!F3
            tool_specific_info:
              spreadsheet_name: Q4 Planning
              worksheet: Budget
  parameters:
    AssignmentId:
      name: assignment_id
      in: query
      required: true
      schema:
        type: string
        format: uuid
      description: The ID of the assignment to check
      example: 87fb989d-46dc-4a5c-af5d-de772f8e9ebc
  responses:
    AssignmentEnqueued:
      description: Assignment successfully enqueued
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AssignmentEnqueuedResponse'
    AssignmentResult:
      description: Assignment status or result
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AssignmentResultResponse'