{
  "openapi": "3.0.0",
  "info": {
    "title": "Job Execution API",
    "version": "1.0.0",
    "description": "API for executing and monitoring asynchronous tool-based jobs"
  },
  "servers": [
    {
      "url": "https://api.teammates/work/v1",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/api/execute": {
      "post": {
        "summary": "Execute a new job",
        "description": "Initiates a new job execution for a specified tool with given parameters",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/JobEnqueued"
          }
        }
      }
    },
    "/api/result": {
      "get": {
        "summary": "Get job result",
        "description": "Retrieves the current status or result of a job",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JobResult"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ExecuteJobRequest": {
        "type": "object",
        "required": ["tool", "prompt"],
        "properties": {
          "tool": {
            "type": "string",
            "description": "The tool to execute",
            "enum": [
              "airtable",
              "dropbox",
              "github",
              "gmail",
              "google_docs",
              "google_drive",
              "google_sheets",
              "google_slides",
              "hubspot",
              "jira",
              "microsoft_365_excel",
              "microsoft_365_word",
              "salesforce",
              "shopify",
              "slack",
              "trello",
              "zendesk"
            ],
            "example": "google_sheets"
          },
          "prompt": {
            "type": "string",
            "description": "The prompt or command to execute",
            "example": "Update issue with ID 4 to status OK"
          }
        }
      },
      "JobEnqueuedResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["enqueued", "unstarted", "in_progress", "complete", "failed", "waiting_for_others", "canceled"]
          },
          "job_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the job"
          }
        },
        "example": {
          "status": "enqueued",
          "job_id": "87fb989d-46dc-4a5c-af5d-de772f8e9ebc"
        }
      },
      "JobResultResponse": {
        "type": "object",
        "required": ["status", "duration"],
        "properties": {
          "status": {
            "type": "string",
            "enum": ["unstarted", "in_progress", "complete", "failed", "waiting_for_others", "canceled"],
            "description": "Current status of the job"
          },
          "duration": {
            "type": "integer",
            "description": "Duration of the job execution in seconds"
          },
          "result": {
            "type": "string",
            "description": "JSON string containing the result data (only present when status is complete)",
            "format": "json"
          }
        }
      }
    },
    "parameters": {
      "JobId": {
        "name": "job_id",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "The ID of the job to check",
        "example": "87fb989d-46dc-4a5c-af5d-de772f8e9ebc"
      }
    },
    "responses": {
      "JobEnqueued": {
        "description": "Job successfully enqueued",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/JobEnqueuedResponse"
            }
          }
        }
      },
      "JobResult": {
        "description": "Job status or result",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/JobResultResponse"
            }
          }
        }
      }
    }
  }
}